{% extends "basetemplate.html" %}

{% block content %}
 
<!-- Main content -->
<section class="main-content">
    <section class="homepage">
        <section class="index-greeting">
            <h2>Welcome to Digirunner!</h2>

            <p>
                Ever wondered what it took for Frodo to walk to Mt Doom? <br>
                Or if you could run the length of Kalimdor in one go? <br>
                Or how many laps around Sanctuary you could survive? <br> <br>

                Well now you can find out! <br>
            </p>

            <p>
                Register your profile, select a map and start running! <br>
                Log your results to see how far you've come. <br>
            </p>
        </section>

    </section>
</section>

{% endblock %}