{% extends "basetemplate.html" %}

{% block content %}
 
<!-- Main content -->
<section class="main-content">
    <section class="profilepage">

        <!-- Flexbox container for profile and leaderboard tables -->
        <div class="tables-container">
        
            <!-- Profile Stats Section -->
            <section class="-profile-stats-section">
                
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h2>Welcome, {{ user.Username }}</h2>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <form method="POST" action="{{ url_for('profile.profile', username = user.Username) }}">
                            <td>
                                <input type="float" class="form-control" id="running-results" name="running-results" placeholder="Kilometers ran">
                            </td>
                            <td>
                                <button type="submit" class="custom-button-1">Update</button>
                            </td>
                        </form>
                    </tr>
                    <tr>
                        <td><strong>Active route:</strong></td>
                        <td>{{ user.ActiveRoute }}</td>
                    </tr>
                    <tr>
                        <td><strong>Active route distance ran:</strong></td>
                        <td>{{ user.ActiveRouteMeters/1000 }} kilometers</td>
                    </tr>
                    <tr>
                        <td><strong>Overall distance ran:</strong></td>
                        <td>{{ user.TotalRanMeters/1000 }} kilometers</td>
                    </tr>
                </table>
            </section>

            <!-- Leaderboard Section -->
            <section class="leaderboard-section">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h2>Leaderboard</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in leaderboard %}
                            <tr>
                                <td style="font-size: 30px;">
                                    <img src="/static/images/tokens/{{ user.Token }}" alt="" style="width:35px;">
                                    {{ user.Username }}
                                </td>
                                <td>
                                    {{ user.TotalRanMeters/1000 }} Kilometers
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

        </div> <!-- End of tables-container -->

        <section class="usermap-section">
            {% if user_has_map %}
                <img src="/static/images/usermaps/{{ user.Username }}_updated_map.jpg" alt="User's map">
            {% else %}
                <img src="/static/images/misc/no_usermap_img.png" alt="No user map available">
            {% endif %}
        </section>

    </section>
</section>

{% endblock %}
