{% extends "basetemplate.html" %}

{% block content %}
 
<!-- Main content -->
<section class="main-content">
    <table class="maps-table" style="margin: 0 auto;">
        <thead>
            <tr>
                <form method="POST" action="{{ url_for('maps.wow') }}">
                    <th>
                        <p>Eastern Kingdoms (X kms)</p>
                        <button 
                            type="submit" 
                            name="selected_route" 
                            value="eastern_kingdoms" 
                            class="custom-button-1">
                            SELECT ROUTE
                        </button>
                    </th>
                    <th>
                        <p>Kalimdor (X kms)</p>
                        <button 
                            type="submit" 
                            name="selected_route" 
                            value="kalimdor" 
                            class="custom-button-1">
                            SELECT ROUTE
                        </button>
                    </th>
                    <th>
                        <p>Outlands (X kms)</p>
                        <button 
                            type="submit" 
                            name="selected_route" 
                            value="outlands" 
                            class="custom-button-1">
                            SELECT ROUTE
                        </button>
                    </th>
                </form>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="">
                        <img src="/static/images/worldmaps/wow/eastern_kingdoms_route.png" alt="" style="width: 400px; height: 600px;">
                    </a>
                </td>
                <td>
                    <a href="">
                        <img src="/static/images/worldmaps/wow/kalimdor_route.png" alt="" style="width: 400px; height: 600px;">
                    </a>
                </td>
                <td>
                    <a href="">
                        <img src="/static/images/worldmaps/wow/outland_route.png" alt="" style="width: 400px; height: 600px;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}