{% extends "basetemplate.html" %}

{% block content %}
 
<!-- Main content -->
<section class="main-content">
    <table class="maps-table" style="margin: 0 auto;">
        <thead>
            <tr>
                <th>
                    <a href="" style="color:#feffef">Eastern Kingdoms (X kms)</a>
                </th>
                <th>
                    <a href="" style="color:#feffef">Kalimdor (X kms)</a>
                </th>
                <th>
                    <a href="" style="color:#feffef">Outlands (X kms)</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="">
                        <img src="/static/images/eastern_kingdoms_route.png" alt="" style="width: 400px; height: 600px;">
                    </a>
                </td>
                <td>
                    <a href="">
                        <img src="/static/images/kalimdor_route.png" alt="" style="width: 400px; height: 600px;">
                    </a>
                </td>
                <td>
                    <a href="">
                        <img src="/static/images/outland_route.png" alt="" style="width: 400px; height: 600px;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}